html {
  height: 130%;
  width: 100%;
}

body {
  background-image: linear-gradient(slategrey, white, white);
}

h1 {
  color: rgb(9, 69, 118);
}

#carouselAutoplaying {
  height: 250%;
  
}

#equation {
  margin-top: 25px;
  border-style: ridge;
  border-color: rgb(182, 181, 191);
  border-radius: 14px;
}

.container, input {
  margin-top: 25px;
  margin-bottom: 25px;
}

button:hover {
  color: lightgrey;
  transition: 2s;
}

ul {
  width: 50%;
}

img {
  width: 125px;
  margin: 125px;
}